/*Parallax section*/
#section-1 {
    z-index: 1;

    height: 100vh;
}
/*Parallax background*/
#section-1 .parallax-layer-back {
    background: url("../img/white-cubes.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Section with dummy content*/
#section-2 {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 100%;
}/* YOUR CUSTOM STYLES */

.tooltip-inner, img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 50px;
}
